#register-background {
    content: "";
    background-color: black;
    filter: blur(10px);
    position: fixed;
    margin: -30px;
}

#login-background {
    position: fixed;
    filter: blur(10px);
    width: 100%;
}
