@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    display: flex;
    background-image: url("photos/user-bg.jpg");
    background-repeat: no-repeat;
    backdrop-filter: blur(6px);
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

